ul {
  list-style: none;
}

button {
  box-shadow: 0px 0px 2px 1px rgb(1, 49, 60);
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.upload-title {
  color: aquamarine;
}

.hidden {
  display: none;
}

.disabled {
  background-color: lightsteelblue;
  box-shadow: none;
  outline: transparent;
  cursor: not-allowed;
}
