.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 20vh;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  perspective: 500px;
  transition: all ease-in-out 0.4s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.card-front {
  border: 2px solid aqua;
  transform: rotateY(0deg);
}

.card-back {
  position: relative;
  border: 2px solid orangered;
  transform: rotateY(180deg);
}

.card-content {
  position: relative;
  top: -10vh;
  transition: ease-in-out color 0.4s;
  color: transparent;
}
.card-content:hover {
  cursor: default;
}

.transparent {
  color: transparent;
}

.black {
  color: black;
}
