.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 20vh;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
  box-sizing: border-box;
}

.card:hover {
  cursor: pointer;
}

.card-front {
  border: 2px solid aqua;
}

.card-back {
  border: 2px solid orangered;
}

.card-content {
}

.hidden {
  display: none;
}
