/* .deck-container{

} */

/* .deck {

} */

.deck-title {
  color: aliceblue;
  margin-bottom: 10px;
}

.deck-button {
  margin: auto;
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.button-container svg {
  fill: white;
}

.refresh-icon {
  position: absolute;
  background-color: transparent;
  border: transparent;
  border-radius: 50px;
  top: 73vh;
  left: 48vw;
  height: 40px;
}

.refresh-icon:hover {
  cursor: pointer;
  box-shadow: 1px 10px 50px 0px rgba(0, 0, 0, 0.411);
}

.refresh-label {
  position: absolute;
  left: 46.5vw;
  top: 82vh;
  color: aliceblue;
  font-size: small;
}
